{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "globals": {
        "process": true,
        "console": true,
        "morningstar": true,
        "angular": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module"
    },
    "root": true,
    "rules": {
        "array-bracket-spacing": [2, "never"],
        "brace-style": [2, "1tbs", {"allowSingleLine": true}],
        "camelcase": [2, {"properties": "always"}],
        "comma-dangle": [2, "never"],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "curly": [2, "all"],
        "dot-notation": 2,
        "eol-last": 2,
        "eqeqeq": [2, "smart"],
        "indent": [2, 4, {"SwitchCase": 1}],
        "key-spacing": 2,
        "keyword-spacing": 2,
        "new-cap": [2, {"capIsNew": false}],
        "no-constant-condition": 0,
        "no-console": 1,
        "no-control-regex": 2,
        "no-div-regex": 2,
        "no-empty": [2, {"allowEmptyCatch": true}],
        "no-eval": 2,
        "no-extend-native": 2,
        "no-floating-decimal": 2,
        "no-spaced-func": 2,
        "no-implied-eval": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-object": 2,
        "no-new-wrappers": 2,
        "no-octal-escape": 2,
        "no-plusplus": 0,
        "no-redeclare": 1,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-shadow-restricted-names": 2,
        "no-throw-literal": 2,
        "no-trailing-spaces": 2,
        "no-undef": 2,
        "no-unneeded-ternary": 2,
        "no-unused-expressions": [1, {"allowShortCircuit": true, "allowTernary": true}],
        "no-unused-vars": [2, {"args": "none"}],
        "no-use-before-define": [2, {"functions": false}],
        "no-useless-call": 2,
        "no-whitespace-before-property": 2,
        "no-with": 2,
        "one-var": [2, "never"],
        "operator-linebreak": [2, "after"],
        "quotes": [2, "double", {"avoidEscape": true}],
        "semi": [2, "always"],
        "semi-spacing": 2,
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "always"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 2,
        "space-unary-ops": [2, {"words": false, "nonwords": false}],
        "strict": 1,
        "wrap-iife": [2, "inside"]
    }
}